<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li><%= link_to "#{current_user.name} (Edit)", edit_user_registration_path %></li>
    <li><%= link_to t('LogOff'), destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to t('Log in'), new_user_session_path %></li>
    <li><%= link_to t('Register'), new_user_registration_path %></li>
  <% end %>
</ul>
